h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.signup, .signin {
    display: block;
    width: 35%;
}

.signin label, .signup  label {
    display: block;
    margin: 5px 0px;
}

.signup input, .signin input {
    margin: 5px 0px;
}

footer {
    position: absolute;
    bottom: 0px;
}